* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

:root {
    --palatinate: #581E60ff;
    --lavender-pink: #FEACD8ff;
    --steel-pink: #BE4FC8ff;
    --salmon-pink: #FFA0AAff;
    --ruddy-blue: #64ABFFff;
    --claret: #8F2046ff;
    --bright-pink-crayola: #FF4373ff;
    --bittersweet-shimmer: #BD4945ff;
    --black-bean: #3E1F23ff;
    --misty-rose: #FEDDDEff;
    --citrine: #EADA00ff;
    --sky-blue: #8DD1E9ff;
    --apple-green: #ADB60Eff;
    --grape: #6B109Dff;
}

#donation-form-flow {
    background-position: center;
    background-size: cover;
    display: grid;
    background-color: transparent !important;
    background-position: center;
}

.donation-form-container {
    background: #fff;
    border-radius: 5px;
    min-height: 400px auto;
    overflow: hidden;
    margin: 100px;
    opacity: .9;
    transform: translateY(60%);
}

.form-1 {
    margin-top: 20px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: var(--ruddy-blue);
    width: 650px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
}

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}
#steps{
    position:absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right, var(--sky-blue),var(--salmon-pink));
}

#steps::after{
    content:'';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px;
}

.donate-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 2.5rem;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 4px 2px rgba(13, 8, 5, 0.8);
}

.green-dollar {
    color: green;
    font-size: 1.8rem;
    margin-top: 40px;
    height: 0;
    margin-left: 20px;
    background-color: var(--citrine);
}

.give-button{
    width: 90%;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--palatinate);
    border: 1px solid var(--palatinate);
    background-color: var(--citrine);
    /* margin-right: 10px; */
    font-size: 2.1rem;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 4px 2px rgba(13, 8, 5, 0.5);
}

.other-button{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 2.5rem;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 12px;
    align-items: center;
    box-shadow: 0 2px 4px 2px rgba(13, 8, 5, 0.8);
}

.give-button:hover, .donate-button:hover {
    color: var(--bright-pink-crayola);
    border: none;
    background-color: yellow !important;
    transition: all ease 0.35;
    box-shadow: 0 0 4px 4px rgba(2, 2, 2, 0.9);
}

.give-button:hover {
    background-color: green !important;
}

.donate-button.active {
    background-color: green !important;
    color: white;
}

.give-button:focus {
    background-color: green !important;
    color: white !important;
}

.sign-align {
    display: flex;
}

.to-pay-font{
    font-size: 1.6rem;
    border: none;
    background-color: var(--misty-rose);
}

.to-pay-font:hover{
    color: white;
    background-color: green;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: -15px;
    color: var(--bright-pink-crayola);
    box-shadow: 0 0 4px 4px rgba(2, 2, 2, 0.9);
}

.icons {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.reformat-submit{
    all: unset;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    margin-left: 20px;
    align-items: center;
    background-color: var(--citrine);
    
}
.reformat-submit:hover,.reformat-submit:focus {
    color: white;
    background-color: green;
}